.wrap{position:relative;min-width:1024px;}
.idx{max-width:1024px;margin:0 auto;padding:0 20px;}
.d_flex{display:flex;}
.mgr10{margin-right:10px;}
::placeholder{color:#b3c9ff !important;}
.container{display:flex;align-items:flex-start;}
.bt_download{background-color:#575e69;width:60px;height:22px;font-family:'Noto Sans KR';font-size:12px;font-weight:400;line-height:22px;color:#ffffff !important;display:flex;align-items:center;justify-content:center;}
.bt_reLogin{background-color:#ffffff;border-radius:2px;width:100%;height:40px;font-family:'Noto Sans KR';font-size:12px;font-weight:400;line-height:22px;text-transform:uppercase;color:#2155cf !important;display:flex;align-items:center;justify-content:center;}
.bt_calendar{background-image:url('../img/ic_calendar.png');background-repeat:no-repeat;background-position:center center;background-size:18.5px auto;width:28px;height:28px;display:block;margin-right:-5px;}
.bt_group{display:inline-flex;}
.bt_group a{background-color:#ffffff;border:1px solid #dddddd;height:20px;font-family:'Noto Sans KR';font-size:11px;font-weight:400;text-align:center;color:#6c6c6c;padding:0 10px;}
.bt_group > a:not(:first-child){margin-left:-1px;}

.search_control{display:flex;align-items:center;}
.search_control input{font-family:'Noto Sans KR';font-size:12px;font-weight:400;text-align:left;color:#8d929a;border:1px solid #dddddd;width:100%;height:22px;padding:0 7px;}
.search_control .bt_srch{background-image:url('../img/ic_search.png');background-repeat:no-repeat;background-position:center;border:1px solid #dddddd;border-left:none;width:22px;height:22px;padding:8px 8px;}

.text_control input{font-family:'Noto Sans KR';font-size:12px;font-weight:400;text-align:left;color:#8d929a;border:1px solid #dddddd;width:100%;height:22px;padding:0 7px;}
.select_control{font-family:'Noto Sans KR';font-size:12px;font-weight:400;text-align:left;color:#8d929a;border:1px solid #dddddd;width:100%;height:22px;}
.date_control input{font-family:'Noto Sans KR';font-size:12px;font-weight:400;text-align:left;color:#333333;border:1px solid #dddddd;width:100%;height:22px;padding:0 7px;}
.date_control label{display:flex;align-items:center;justify-content:center;}

.select_mn{height:22px;border:1px solid #dddddd;font-family:'Noto Sans KR';font-size:12px;font-weight:400;color:#333333;padding:0 8px;}

.rehead.idx .top .top_inn{display:flex;align-items:flex-end;justify-content:space-between;padding:32px 0 27px;}
.rehead .top .top_inn{display:flex;align-items:center;justify-content:space-between;padding:10px 20px;}
.rehead .top .top_inn .left{display:flex;align-items:center;justify-content:center;}
.rehead .top .top_inn .left .head{display:flex;align-items:flex-end;}
.rehead .top .top_inn .left .head h2{font-family:'Noto Sans KR';font-size:15px;font-weight:400;color:#153685;margin-left:12px;}
.rehead .top .top_inn .left .call{display:flex;align-items:center;justify-content:space-between;margin-left:30px;}
.rehead .top .top_inn .left .call div{display:flex;align-items:center;}
.rehead .top .top_inn .left .call div.sort{font-family:'Noto Sans KR';font-size:12px;font-weight:400;color:#898989;}
.rehead .top .top_inn .left .call div.sort::before{content:"";background-image:url("../img/ic_phone.png");background-repeat:no-repeat;background-position:left center;display:block;width:13px;height:16px;padding-left:10px;}
.rehead .top .top_inn .left .call div.num{font-family:'Noto Sans KR';font-size:12px;font-weight:400;color:#898989;margin-right:23px;}
.rehead .top .top_inn .left .call div.num::before{content:"";background-color:#6c6c6c;width:1px;height:10px;margin:0 10px;}

.header{background-color:#153685;}
.header .header_inn{margin-left:190px;padding:0 20px;}
.header .header_inn .gnb ul{display:flex;align-items:center;justify-content:flex-start;}
.header .header_inn .gnb ul li a{font-family:'Noto Sans KR';font-size:16px;font-weight:400;text-align:center;color:#ffffff;padding:14px 20px;display:block;}
.header .header_inn .gnb ul li.on a{background-color:#2552bb;font-weight:bold;}

.side.leftmenu{flex-basis:190px;}
.side.leftmenu .status .user .noted{margin-top:17px;}
.side.leftmenu .status .user .noted p{font-family:'Noto Sans KR';font-size:12px;font-weight:400;text-align:center;color:#333333;}
.side.leftmenu .stat{display:flex;align-items:center;justify-content:center;margin-top:10px;}
.side.leftmenu .stat a{background-color:#a5aebe;width:52px;height:18px;font-family:'Noto Sans KR';font-size:10px;font-weight:400;text-align:center;line-height:18px;color:#ffffff;}
.side.leftmenu .lnb .cost_mgnt{background-color:#f4f6fa;height:47px;border-top:1px solid #dddddd;font-family:'Noto Sans KR';font-size:16px;font-weight:400;text-align:left;line-height:47px;text-align:center;color:#545454;margin-top:15px;margin-right:10px;}
.side.leftmenu .lnb ol{margin:0 10px}
/* .side.leftmenu .lnb ol .lnb_lv1 a{font-family:'Noto Sans KR';font-size:15px;font-weight:500;text-align:left;color:#333333;} */
.side.leftmenu li.lnb_lv1 .lnb_lv1_node{font-family:'Noto Sans KR';font-size:15px;font-weight:500;text-align:left;color:#333333;padding:8px 10px;display:block;position:relative;}
ol .lnb_lv1.on .lnb_lv1_node{background-color:#153685;border-radius:5px;color:#ffffff !important;height:30px;line-height:15px;position:relative;}
ol .lnb_lv1 .lnb_lv1_node::after{content:"";background-image:url('../img/ic_arrow_close.png');background-repeat:no-repeat;background-position:right center;width:5px;height:9px;display:block;position:absolute;right:10px;top:13px;}
ol .lnb_lv1.on .lnb_lv1_node::after{content:"";background-image:url('../img/ic_arrow_open.png');background-repeat:no-repeat;background-position:right center;width:9px;height:5px;display:block;position:absolute;right:10px;top:13px;}
ul.lnb_lv2{margin:5px 0 5px;}
ul.lnb_lv2 li{width:170px;height:28px;margin:0;padding:0;}
ul.lnb_lv2 li a{font-family:'Noto Sans KR';font-size:13px;font-weight:400;text-align:left;line-height:15px;color:#545454;padding:8px 10px;display:block;}
ul.lnb_lv2 li a:hover{background-color:#f3f4f6;border-radius:5px;height:30px;}
ul.lnb_lv2 li.on a{font-weight:bold;color:#153685;margin-right:-20px;}

.contents{padding:0 20px;flex:1;}
.contents .mainLst1, .mainLst2{display:flex;align-items:center;}
.mainLst1{margin:0 -10px;}
.mainLst1 .reLeft, .mainLst1 .reRight{margin:0 10px;}
.mainLst1 .reLeft .reLogin_wrap .reLogin_inn{background-color:#2155cf;width:294px;height:290px;padding:30px;border-radius:10px;position:relative;}
.mainLst1 .reLeft .reLogin_wrap .reLogin_inn .reLogin_header .left h3{font-family:'Noto Sans KR';font-size:26px;font-weight:bold;color:#ffffff;}
.mainLst1 .reLeft .reLogin_wrap .reLogin_inn .reLogin_header .right{position:absolute;right:41px;top:45px;}
.mainLst1 .reLeft .reLogin_wrap .reLogin_inn .reLogin_header .right a{font-family:'Noto Sans KR';font-size:14px;font-weight:400;color:#ffffff;position:relative;}
.mainLst1 .reLeft .reLogin_wrap .reLogin_inn .reLogin_header .right a::after{content:'';background-image:url('../img/ic_angle_right_white.png');background-repeat:no-repeat;background-position:right;display:block;position:absolute;top:6px;right:-10px;width:5px;height:10px;}
.mainLst1 .reLeft .reLogin_wrap .reFrm_grp{position:relative;}
.mainLst1 .reLeft .reLogin_wrap .reFrm_grp.userID::after{content:'';background-image:url('../img/ic_user.png');background-repeat:no-repeat;display:block;width:13px;height:16px;position:absolute;top:10px;right:0;}
.mainLst1 .reLeft .reLogin_wrap .reFrm_grp.userPW::after{content:'';background-image:url('../img/ic_lock.png');background-repeat:no-repeat;display:block;width:13px;height:16px;position:absolute;top:10px;right:0;}
.mainLst1 .reLeft .reFrm_container input.reFrm_control{background-color:transparent;border:none;border-bottom:1px solid #89a4e5;width:234px;font-family:'Noto Sans KR';font-size:12px;font-weight:400;color:#ffffff;padding:10px 0;}
.mainLst1 .reLeft .reFrm_container .reCheck_box{margin:15px 0;}
.mainLst1 .reLeft .reFrm_container .reCheck_box > label{position:relative;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.mainLst1 .reLeft .reFrm_container .reCheck_box input{position:absolute;left:0;right:0;opacity:0;cursor:pointer;height:10px;width:10px;appearance:none;z-index:2;}
.mainLst1 .reLeft .reFrm_container .reCheck_box i{position:absolute;top:4px;left:0;width:10px;height:10px;background-image:url('../img/checkbox_off.png');background-size:contain;z-index:1;}
.mainLst1 .reLeft .reFrm_container .reCheck_box input:checked ~ i{background-image:url('../img/checkbox_on.png');}
.mainLst1 .reLeft .reFrm_container .reCheck_box i::after{content:"";position:absolute;display:none;}
.mainLst1 .reLeft .reFrm_container .reCheck_box input:checked ~ .chk_control::after{display:block;background-image:url('../img/checkbox_on.png');}
.mainLst1 .reLeft .reFrm_container .reCheck_box span{font-family:'Noto Sans KR';font-size:12px;font-weight:400;color:#b3c9ff;margin-left:17px;}
.mainLst1 .reLeft .reFrm_container .reLogin_control{margin-top:13px;}
.mainLst1 .reLeft .reFrm_container .reLogin_control ul li{float:left;padding:0 10px;background-image:url('../img/bg_fmenuLine.png');background-repeat:no-repeat;background-position:0 5px;}
.mainLst1 .reLeft .reFrm_container .reLogin_control ul li:first-child{background-image:none;}
.mainLst1 .reLeft .reFrm_container .reLogin_control ul li a{font-family:'Noto Sans KR';font-size:12px;font-weight:400;line-height:18px;color:#b3c9ff;padding:4px 0 2px;}
.mainLst1 .reRight .reBanner .reBanner_inn{background-color:#d8e7ff;border-radius:10px;width:670px;;height:290px;display:flex;align-items:center;justify-content:space-between;flex-direction:row-reverse;padding:33px 40px;}
.mainLst1 .reRight .reBanner .reBanner_inn img{max-width:100%;}
.mainLst1 .reRight .reBanner .reBanner_inn h3{font-family:'Noto Sans KR';font-size:30px;font-weight:bold;line-height:38px;color:#333333;padding:6px 0 4px;}
.mainLst1 .reRight .reBanner .reBanner_inn p{font-family:'Noto Sans KR';font-size:16px;font-weight:400;line-height:22px;color:#333333;margin-top:15px;padding:3px 0 2px;}

.mainLst2{margin: 20px -10px 40px;}
.mainLst2 .reLeft .reCall_box{background-color:#ffffff;border:1px solid #dddddd;border-radius:10px;width:294px;height:260px;padding:30px;margin:0 10px;}
.mainLst2 .reLeft .reCall_box h4{font-family:'Noto Sans KR';font-size:20px;font-weight:500;color:#333333;}
.mainLst2 .reLeft .reCall_box .reCall .cboth{margin-top:10px;}
.mainLst2 .reLeft .reCall_box .reCall div.sort{font-family:'Noto Sans KR';font-size:14px;font-weight:400;color:#6c6c6c;}
.mainLst2 .reLeft .reCall_box .reCall div.num{font-family:'Noto Sans KR';font-size:20px;font-weight:500;color:#6c6c6c;}
.mainLst2 .reRight .reNotice_box{display:flex;align-items:center;justify-content:space-between;}
.mainLst2 .reRight .reNotice_box .reLeft_in{background-color:#ffffff;border:1px solid #dddddd;border-radius:10px;width:430px;height:260px;padding:30px;margin:0 10px;}
.mainLst2 .reRight .reNotice_box .reLeft_in .reNotic_tit{position:relative;}
.mainLst2 .reRight .reNotice_box .reLeft_in .reNotic_tit h3{font-family:'Noto Sans KR';font-size:20px;font-weight:500;color:#333333;}
.mainLst2 .reRight .reNotice_box .reLeft_in .reNotic_tit a.bt_reMore{background-image:url('../img/ic_plus.png');background-repeat:no-repeat;background-position:right center;background-size:14px auto;width:14px;height:14px;display:block;position:absolute;top:4px;right:1px;}
.mainLst2 .reRight .reNotice_box .reLeft_in .reNotic_list ol{padding-left:12px;}
.mainLst2 .reRight .reNotice_box .reLeft_in .reNotic_list ol li{position:relative;}
.mainLst2 .reRight .reNotice_box .reLeft_in .reNotic_list ol li::before{content:"";background-image:url('../img/ic_dot.png');background-repeat:no-repeat;background-position:left center;width:2px;height:2px;position:absolute;top:12px;left:-9px;}
.mainLst2 .reRight .reNotice_box .reLeft_in .reNotic_list ol li a{display:flex;align-items:center;justify-content:space-between;}
.mainLst2 .reRight .reNotice_box .reLeft_in .reNotic_list ol li a .listNew{width:80%;}
.mainLst2 .reRight .reNotice_box .reLeft_in .reNotic_list ol li a .listNew span{font-family:'Noto Sans KR';font-size:14px;font-weight:400;line-height:28px;color:#6c6c6c;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;max-width:70%;display:inline-block;vertical-align:middle;}
.mainLst2 .reRight .reNotice_box .reLeft_in .reNotic_list ol li a .listNew .ic_new{background-image:url('../img/ic_new.png');background-repeat:no-repeat;background-position:right center;width:15px;height:15px;display:inline-block;vertical-align:middle;}
.mainLst2 .reRight .reNotice_box .reLeft_in .reNotic_list ol li a .tx_date{font-family:'Noto Sans KR';font-size:12px;font-weight:400;line-height:28px;color:#6c6c6c;}
.mainLst2 .reRight .reNotice_box .reRight_in{margin:0 10px;}
.mainLst2 .reRight .reNotice_box .reRight_in .reBox .reBox_inn{padding:20px;}
.mainLst2 .reRight .reNotice_box .reRight_in .reBox.reference{background-image:url('../img/ic_folder.png');width:220px;height:120px;border-radius:10px;margin-bottom:20px;}
.mainLst2 .reRight .reNotice_box .reRight_in .reBox.qna{background-image:url('../img/ic_Q&A.png');width:220px;height:120px;border-radius:10px;margin-top: 20px;}
.mainLst2 .reRight .reNotice_box .reRight_in .reBox .reBox_inn h3{font-family:'Noto Sans KR';font-size:20px;font-weight:500;line-height:normal;color:#333333;padding:10px 0 10px;margin-bottom:15px;}
.mainLst2 .reRight .reNotice_box .reRight_in .reBox .reBox_inn a{font-family:'Noto Sans KR';font-size:14px;font-weight:400;text-align:center;color:#6c6c6c;position:relative;}
.mainLst2 .reRight .reNotice_box .reRight_in .reBox .reBox_inn a::after{content:"";background-image:url('../img/ic_angle_right.png');background-repeat:no-repeat;background-position:right;display:block;position:absolute;top:6px;right:-10px;width:5px;height:10px;}

.contents .breadcrumb{padding:5px 0;}
.contents .breadcrumb ul{display:flex;align-items:center;justify-content:flex-end;}
.contents .breadcrumb ul li a{font-family:'Noto Sans KR';font-size:10px;font-weight:400;color:#888888;}
.contents .breadcrumb ul li::after{content:">";padding:0 5px;}
.contents .breadcrumb ul li:last-child::after{content:"";}
.title_wrap h3.tit_h3{font-family:'Noto Sans KR';font-size:18px;font-weight:bold;text-align:left;color:#333333;}

.tbl_stylever > table{background-color:#e7edfb;width:100%;height:145px;margin:10px 0;border-top:1px solid #dddddd;border-bottom:1px solid #dddddd;}
.tbl_stylever > table tr:nth-child(3) td div{display:flex;align-items:center;}
.tbl_stylever > table tbody tr td{padding-bottom:10px;}
.tbl_stylever table tbody tr th{padding-bottom:10px;padding-left:20px;}
.tbl_stylever > table tbody tr th div{font-family:'Noto Sans KR';font-size:12px;font-weight:400;text-align:left;color:#6c6c6c;}

.tbl_listBx_con{border:1px solid #dddddd;height:385px;overflow:scroll;}
.tbl_listBx tr th{border:1px solid #98a1ae;border-top:none;border-bottom:1px solid #dddddd;}
.tbl_listBx tr th:first-child{border-left:none;}
.tbl_listBx tr th:last-child{border-right:none;}
.tbl_listBx tr td{border:1px solid #dddddd;}
.tbl_listBx tr td:first-child{border-left:none;}
.tbl_listBx thead tr th{background-color:#7d8799;height:32px;}
.tbl_listBx thead tr th div{font-family:'Noto Sans KR';font-size:12px;font-weight:400;text-align:center;line-height:32px;color:#ffffff;}
.tbl_listBx tbody tr td div{font-family:'Noto Sans KR';font-size:12px;font-weight:400;text-align:center;line-height:30px;color:#6c6c6c;padding:0 8px;}
.tbl_listBx tbody tr td div.check_control > label{position:relative;margin-right:15px;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.tbl_listBx tbody tr td div.check_control input{position:absolute;left:0;right:0;opacity:0;cursor:pointer;height:14px;width:14px;appearance:none;z-index:2;}
.tbl_listBx tbody tr td div.check_control i{position:absolute;top:0;left:0;width:14px;height:14px;background-image:url('../img/radio_n.png');background-size:contain;z-index:1;}
.tbl_listBx tbody tr td div.check_control input:checked ~ i{background-image:url('../img/radio_s.png');}
.tbl_listBx tbody tr td div.check_control i::after{content:"";position:absolute;display:none;}
.tbl_listBx tbody tr td div.check_control input:checked ~ .check_control::after{display:block;background-image:url('../img/radio_s.png');}
.tbl_listBx tbody tr td div.check_control span{font-family:'Noto Sans KR';font-size:13px;font-weight:500;color:#222222;margin-left:25px;padding:3px 0 2px;}
.total .total_inner{background-color:#f1f2f4;border:1px solid #dddddd;border-top:none;height:30px;}
.total .total_inner h4{font-family:'Noto Sans KR';font-size:13px;font-weight:400;text-align:right;line-height:30px;color:#333333;padding-right:20px;}
.btnArea_wrap .btnArea_inn{display:flex;align-items:center;justify-content:space-between;padding:20px 0 40px;}
.btnArea_wrap .btnArea_inn .right a{background-color:#575e69;height:26px;padding:7px 10px;}
.btnArea_wrap .btnArea_inn .right a > span{font-family:'Noto Sans KR';font-size:12px;font-weight:400;line-height:normal;color:#ffffff;}
.footer{border-top:1px solid #d3d3d3;}
.footer .footer_inn{padding:30px 20px 20px;margin-left:190px;}
.footer .footer_inn .left{display:flex;align-items:flex-start;justify-content:center;flex-direction:column;}
.footer .footer_inn .left .footer_menu{margin-bottom:20px;}
.footer .footer_inn .left .footer_menu ul{display:inline-flex;}
.footer .footer_inn .left .footer_menu ul li::after{content:"";background-color:#cccccc;width:1px;height:10px;margin:0 10px;display:inline-block;}
.footer .footer_inn .left .footer_menu ul li:last-child:after{background-color:transparent;}
.footer .footer_inn .left .footer_menu ul li:first-child{background:none;}
.footer .footer_inn .left .footer_menu ul li a{font-family:'Noto Sans KR';font-size:14px;font-weight:400;text-align:center;line-height:18px;color:#6c6c6c;}
.footer .footer_inn .left .copy_right p{font-family:'Noto Sans KR';font-size:12px;font-weight:400;line-height:18px;color:#999999;}



















